doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  url
    loc http://freecodeschool.edu.vn/
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/pmi-acp-agile-project-managers
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/map
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/about
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/shop
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/stories
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/coding-bootcamp-cost-calculator
    changefreq monthly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/privacy
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/software-resources-for-nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/the-fastest-web-page-on-the-internet
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/academic-honesty
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/code-of-conduct
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://freecodeschool.edu.vn/how-nonprofit-projects-work
    changefreq weekly
    lastmod= now
    priority= 0.9

  each challenge in challenges
    url
      loc #{appUrl}/challenges/#{challenge}
      lastmod= now
      changefreq weekly
      priority= 0.9
